a{ color:#FFF; text-decoration:none;}
a:hover{ color:#CCC; text-decoration:underline;}
.bs-callout {
    padding: 20px;
    margin: 20px 0px;
    border-width: 0px 0px 0px 10px;
    border-style: solid;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: #1CC;
    border-image: none;
    border-radius: 0px;
}
.base-footer-text{
    text-align:center;
}
#base-nav{
    height:240px;
    margin:0 auto;
}
#base-nav-pic{
    border-radius:100px;
    width:90%;
}
#base-nav-portrait-and-motto{
    height:180px;
}
#base-nav-bar{
    margin-left:50px;
}
#base-nav-portrait{
    position:absolute;
    left:80px;
    top:15px;
    float:left;
}
#base-nav-portrait2{
    position:absolute;
    left:1060px;
    top:15px;
    float:left;
}
#base-nav-motto{
    position:absolute;
    left:280px;
    top:40px;
    float:left;
}
#base-nav-motto-font{
    font-size:200%;
    font-weight:bold;
    font-family:"Times New Roman",Georgia,Serif;
    color:#CCC;
}
#base-nav-bar-name-font{
    font-weight:bold;
    font-family:"Times New Roman",Georgia,Serif;
}


.article-btn-font-disabled
{
    color:#34495e;
}
#article-base-nav-path
{
    background-color:#34495e;
    margin-bottom:2px;
}
