<!DOCTYPE html>
<html lang="zh-CN" xmlns:wb="http://open.weibo.com/wb">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}        
    </title>
    
    <!--新浪围脖-->
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>

    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">    
    <link href="/static/Flat-UI-master/dist/css/flat-ui.css" rel="stylesheet">
    <link href="/static/mine/css/mine.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="/static/jquery/jquery-1.11.1.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/stickUp-master/stickUp.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-static-top" id="base-nav" role="navigation">
        <div id="base-nav-portrait-and-motto">
            <div id="base-nav-portrait"><a href="#"><img id="base-nav-pic" alt="Brand" src="/static/pic/portrait.jpeg"></a></div>
            <div id="base-nav-motto"><font id="base-nav-motto-font">Do&nbsp&nbspSomething&nbsp&nbspU&nbsp&nbspLike,<br/> &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTry&nbsp&nbspSomething&nbsp&nbspU&nbsp&nbspWant!</font></div>
        </div>

        <div id="base-nav-bar">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" id="base-nav-bar-name-font" href="#">吊儿郎当小阿衰</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse">
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-info" id="base-nav-bar-btn-font">没事搜一哈</button>
                </form>
                <ul class="nav navbar-nav navbar-right" id="base-nav-bar-link-font">
                    <li><a href="/blog/study/list">打虫子</a></li>
                    <li><a href="/blog/life/list">晒太阳</a></li>
                    <li><a href="#">书柜</a></li>
                    <li><a href="#">地图</a></li>
                    <li><a href="#">客套话</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
    <div class="palette palette-turquoise ">
    <div class = "container-fluid">
    {% block container%}
    {% endblock %}
    </div>
    </div>
    <footer class="palette palette-wet-asphalt">
        <p style="text-align:center">Powered&nbsp&nbspBy&nbsp&nbspDjango</p>
        <P style="text-align:center">Contact&nbsp&nbspme&nbsp&nbspvia&nbsp&nbsp<span class="glyphicon glyphicon-envelope"></span><a href="mailto:thewalk_shuai@gmail.com">thewalk_shuai@gmail.com</a></p>
        <wb:follow-button uid="1944495783" type="red_1" width="70" height="24" ></wb:follow-button>
    </footer>

</body>
</html>
